<head>
    <link rel="stylesheet" href="../static/main.css">
</head>

{% extends 'base.html' %}



{% block content %}
{% if current_user.is_authenticated and current_user.role == 'poster' %}

<main>
    <h1 style="text-align: center;">Создание статьи</h1>
    <body>
    <form method="post" enctype="multipart/form-data" class="post-creation-wrapper">
    {%if tags %}
            <div class="filter">
                <ul>
                    {%for tag in tags %}
                        <li><input type="checkbox" name="{{tag.nametag}}">{{tag.nametag}}</li>
                    {%endfor%}
                </ul>
            </div>
    {%endif%}
        <div class="tutorial">
          <a>Введите "$" чтоб вставить картинку в текст</a>
          <a>Введите "&" чтоб вставить видео в текст</a>
        </div>
        <div class="createpost">
              <ul>
                <li><input name="header" type="text" placeholder="Введите Заголовок" size="50"></li>
                <li><input name="main-image" type="file"></li>
                <li><textarea name="text" type="text" id="post-text" placeholder="Введите текст статьи" cols="120" rows="20"></textarea></li>
                <button name="submit" type="submit">Далее</button></li>
              </ul>
        </div>
    </form>
    </body>
</main>
{% else %}
    <meta http-equiv="refresh" content="0;URL=/" />
{% endif %}
{% endblock content %}
