<head>
    <link rel="stylesheet" href="../static/main.css">
</head>

{% extends "base.html" %}

{% block content %}
<main>
    <body>
        <div class="post-wrapper">
            <div class="post-head-image" onclick="this.className = (this.className =='post-head-image' ? 'post-head-image-pop' : 'post-head-image')">
                <img src="/{{post.main_image}}" name="post-img" alt="post-img">
            </div>
            <h1>{{post.header}}</h1>
            {% for i in count %}
                {%if new_text[i]%}
                    {%if new_text[i] == '#video#' %}
                    <div class="video-wrapper">
                         <iframe width="560" height="315" src="https://www.youtube.com/embed/{{videos_list[i]}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                    {%elif new_text[i] == '#image#' %}
                        <div class="post-head-image" onclick="this.className = (this.className =='post-head-image' ? 'post-head-image-pop' : 'post-head-image')">
                            <img src="/{{images[i]}}" name="text-img">
                        </div>
                        <p name="notes">{{notes[i]}}</p>
                    {%else%}
                        <p style="white-space: pre-wrap; word-wrap: break-word;">{{new_text[i]}}</p>
                    {%endif%}
                {%endif%}
            {%endfor%}
            <div class="post-info">
                <ul>
                    <li>
                        <h4>Автор статьи:</h4>
                        <h4>&nbsp {{post.creator}}</h4>
                    </li>
                    <li>
                        <h4>Дата создания:</h4>
                        <h4>&nbsp {{post.creation_time}}</h4>
                    </li>
                </ul>
            </div>
            <div class="post-tags">
                <ul>
                    {%for tag in tags %}
                        <li>{{tag}}</li>
                    {%endfor%}
                </ul>
            </div>
        </div>
        

        {% if current_user.is_authenticated and current_user.role == 'poster' %}
            <div class="editor-buttons">
                <a href="/editpost/{{post.address}}"><button name="edit-post-button">Редактировать пост</button></a>
                <a href="/deletepost/{{post.address}}"><button name="delete-post-button">Удалить пост</button></a>
                <a href="/show_qr_code/{{ post.address }}"><button name="show_qr_code">Показать код</button></a>
            </div>
        {%endif%}

        </ul>
    </body>
</main>

{% endblock content %}