<head>
    <link rel="stylesheet" href="../static/main.css">
</head>

{% extends 'base.html' %}



{% block content %}
{% if (current_user.is_authenticated) %}

<main>
    <h1 style="text-align: center;">Изменение ФИО</h1>
    <body>
        <div class="createpost">
            <form method="post" enctype="multipart/form-data" class="post-creation-wrapper">
              <ul>
                <h2>Фамилия</h2>
                <li><input name="surname" type="text" value="{{current_user.surname}}" size="50"></li>
                <h2>Имя</h2>
                <li><input name="name" type="text" value="{{current_user.name}}" size="50"></li>
                <h2>Отчество</h2>
                <li><input name="thirdname" type="text" value="{{current_user.thirdname}}" size="50"></li>
                <button name="submit" type="submit" style="margin-top: 20px;
                border: #000072 2px solid;">Изменить имя</button></li>
              </ul>
            </form>
        </div>
    </body>
</main>
{% else %}
    <meta http-equiv="refresh" content="0;URL=/" />
{% endif %}
{% endblock content %}