<head>
    <link rel="stylesheet" href="../static/main.css">
</head>

{% extends "base.html" %}

{% block content %}
<main>
    <body>
    {%if tags %}
        <div class="dropdown" onclick="this.className = (this.className =='dropdown' ? 'active' : 'dropdown')">
            <button>Фильтр</button>
        </div>
        <div class="filter">
            <ul>
                <form method="post" enctype="multipart/form-data">
                {%for tag in tags %}
                <li><input type="checkbox" name="{{tag.nametag}}" placeholder="{{tag.nametag}}">{{tag.nametag}}</li>
                {%endfor%}
            </ul>
            <ul>
                <li>Временной промежуток<input type="date" value="1779-01-01" name="left-date" min="1779-01-01" max="{{current_date}}">
                    <input type="date" value="{{current_date}}" name="right-date" min="1779-01-01" max="{{current_date}}"></li>
                <li style="padding-top: 10%;"><select class="sort-type" id="continent_selector" name="select">
                        <option value="date">Сортировать по дате</option>
                        <option value="chrono">Сортировать по хронологии</option>
                    </select></li>
                    <p></p>
            </ul>
            <button>Подтвердить</button>
                </form>
        </div>
        

    {%endif%}
        <div class="post-container">
            {% for post in posts %}
            {% if post.visible == 'yes' %}
            <a href="/post/{{post.address}}">
                <div class="post">
                    <div class="gradient"></div>
                    <p style="-webkit-line-clamp: 3; font-weight: 500;">{{post.header}}</p>
                    <img src="{{post.main_image}}" class="post-prev">
                </div>
                <p class="post-info-mini">{{post.creation_time}} <br> {{post.creator}}</p>
            </a>
            {%endif%}
            {% endfor %}
        </div>
    </body>
</main>

{% endblock content %}