<head>
    <link rel="stylesheet" href="../static/main.css">
</head>

{% extends "base.html" %}

{% block content %}
<main>
    <h1 style="text-align: center;">Исторические статьи</h1>
    <body>
    {%if tags %}
        <div class="dropdown" onclick="this.className = (this.className =='dropdown' ? 'active' : 'dropdown')">
            <button>Фильтр</button>
        </div>
        <div class="filter">
            <ul>
                <form method="post" enctype="multipart/form-data">
                {%for tag in tags %}
                <li><input type="checkbox" name="{{tag.nametag}}" placeholder="{{tag.nametag}}">{{tag.nametag}}</li>
                {%endfor%}
            </ul>
            <button>Подтвердить</button>
                </form>
        </div>
        

    {%endif%}
        <div class="post-container">
            {% for post in posts %}
            {% if post.visible == 'yes' %}
            <a href="/post/{{post.address}}">
                <div class="post">
                    <div class="gradient"></div>
                    <p>{{post.header}}</p>
                    <img src="{{post.main_image}}" class="post-prev">
                </div>
            </a>
            {%endif%}
            {% endfor %}
        </div>
    </body>
</main>

{% endblock content %}
