<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="../static/main.css"/>
<head>
    <meta charset="utf-8">
    <script defer src="../static/js/main.js"></script>
</head>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class=flashes id="message-post">
    {% for category, message in messages %}
      <div class="{{ category }}"><h2 class="creation-message">{{ message }}</h2></div>
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}
<body class="head-body">
    <section class="header-wrap">
        <header id="header" class="header header-mini">
            <ul class="header-left-panel">
                <li>
                    <a href="/allposts"><img src="../static/static_images/miigaik245.png" alt="logo" class="logo" height="80px"/></a>
                </li>
            </ul>   

            <div class="main-logo">
                <a href="/allposts"><img src="../static/static_images/logo.png" alt="logo-main" height="80px" /></a>
            </div>
            
            <nav>
                <ul class="menu">
                    <li><a href="/allposts"><button>Все посты</button></a></li>
                    {% if current_user.is_authenticated and current_user.role == 'admin' %}
                    <li><a href="/add_tag"><button>Добавить тег</button></a></li>
                    <li><a href="/delete_tags"><button>Удалить тег</button></a></li>
                    {%endif%}
                    {% if current_user.is_authenticated and current_user.role == 'admin' %}
                    <li><a href="/register"><button>Зарегистрировать</button></a></li>
                    {%endif%}
                    {% if current_user.is_authenticated %}
                    {%else%}
                    <li><a href="/login"><button>Войти</button></a></li>
                    {%endif%}
                    {% if current_user.is_authenticated and current_user.role == 'poster' %}
                    <li><a href="/createpost"><button>Создать пост</button></a></li>
                    {%endif%}

                    {%if current_user.is_authenticated%}
                    <li><a href="/logout"><button>Выйти</button></a></li>
                    {%endif%}
                </ul>
            </nav>
        </header>
    </section>
{% block content %} {% endblock content %}
</body>

</html>
