<head>
    <link rel="stylesheet" href="../static/main.css">
</head>

{% extends "base.html" %}

{% block content %}
<main>
    <h1 style="text-align: center;">Создание статьи</h1>
    <body>
    <form method="post" enctype="multipart/form-data" class="post-creation-wrapper">
        <div class="post-wrapper">
            <div class="post-head-image" onclick="this.className = (this.className =='post-head-image' ? 'post-head-image-pop' : 'post-head-image')">
                <img src="/{{post.main_image}}" name="post-img" alt="post-img">
            </div>
            <h1>{{post.header}}</h1>

            {% for i in count %}
                {% if new_text[i] %}
                    {% if new_text[i] == '#video#' %}
                        <li><input name="video{{i}}" type="text" placeholder="Введите ссылку на видео" size="50" class="image-description-editor"></li>
                    {% elif new_text[i] == '#image#' %}
                        <ul class="image-conf">
                            <li><input name="image{{i}}" type="file"></li>
                            <li class="image-description"><input name="note{{i}}" type="text" placeholder="Введите описание фото" size="50" class="image-description-editor"></li>
                        </ul>
                    {% else %}
                        <p style="white-space: pre-wrap">{{ new_text[i] | safe }}</p>

                    {% endif %}
                {% endif %}
            {% endfor %}

            <div class="post-info" style="margin-top: 100px; margin-left: -100px;">
                <ul>
                    <li>
                        <h4>Автор статьи: &nbsp</h4>
                        <input name="creator" type="text" value="{{name}}" class="input-name">
                    </li>
                    <li>
                        <h4>Дата создания:</h4>
                        <h4>&nbsp {{post.creation_time}}</h4>
                    </li>
                    <li style="font-weight: bold;">Временной промежуток &nbsp<input type="date" value="1779-01-01" name="left-date" min="1779-01-01"
                            max="{{current_date}}">&nbsp
                        <input type="date" value="{{current_date}}" name="right-date" min="1779-01-01" max="{{current_date}}">
                    </li>
                </ul>
            </div>
            <button name="submit" type="submit" id="submit-post" style="margin-top: -60px;">Создать</button>
        </div>
    </form>
    </body>
</main>

{% endblock content %}
