<head>
    <link rel="stylesheet" href="../static/main.css">
</head>

{% extends "base.html" %}

{% block content %}
<main>
    <h1 style="text-align: center;">Создание статьи</h1>
    <body>
    <form method="post" enctype="multipart/form-data" class="post-creation-wrapper">
        <div class="post-wrapper">
            <div class="post-head-image" onclick="this.className = (this.className =='post-head-image' ? 'post-head-image-pop' : 'post-head-image')">
                <img src="/{{post.main_image}}" name="post-img" alt="post-img">
            </div>
            <h1>{{post.header}}</h1>

            {% for i in count %}
                {% if new_text[i] %}
                    {% if new_text[i] == '#video#' %}
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{videos_list[i]}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        <li><input name="video{{i}}" type="text" placeholder="Введите ссылку на видео" value="https://youtu.be/{{videos_list[i]}}" size="50" class="image-description-editor"></li>
                    {% elif new_text[i] == '#image#' %}
                        <div class="post-head-image" onclick="this.className = (this.className =='post-head-image' ? 'post-head-image-pop' : 'post-head-image')">
                            <img src="/{{images[i]}}" name="text-img">
                        </div>
                        <ul class="image-conf">
                            <li><input name="image{{i}}" type="file"></li>
                            <li><input name="note{{i}}" type="text" placeholder="Введите описание фото" value="{{notes[i]}}" size="50" class="image-description-editor"></li>
                        </ul>
                    {% else %}
                        <p style="white-space: pre-wrap">{{ new_text[i] | safe }}</p>
                    {% endif %}
                {% endif %}
            {% endfor %}

            <div class="post-info" style="margin-top: 100px; margin-left: -100px;">
                <ul>
                    <li>
                        <h4>Автор статьи: &nbsp</h4>
                        <input name="creator" type="text" value="{{post.creator | safe}}" class="input-name">
                    </li>
                    <li>
                        <h4>Дата создания:</h4>
                        <h4>&nbsp {{post.creation_time}}</h4>
                    </li>
                    <li style="font-weight: bold;">Временной промежуток &nbsp<input type="date" value="{{post.left_date}}" name="left-date" min="1779-01-01"
                            max="{{current_date}}">&nbsp
                        <input type="date" value="{{post.right_date}}" name="right-date" min="1779-01-01" max="{{current_date}}">
                    </li>
                </ul>
            </div>
            <button name="submit" type="submit" id="submit-post" style="margin-top: -60px;">Сохранить</button>
        </div>
    </form>
    </body>
</main>

{% endblock content %}
