<head>
    <link rel="stylesheet" href="../static/main.css">
</head>

{% extends "base.html" %}

{% block content %}
<main>
    <h1 style="text-align: center;">Создание статьи</h1>
    <body>
    <form method="post" enctype="multipart/form-data" class="post-creation-wrapper">
        <div class="post-wrapper">
            <div class="post-head-image" onclick="this.className = (this.className =='post-head-image' ? 'post-head-image-pop' : 'post-head-image')">
                <img src="/{{post.main_image}}" name="post-img" alt="post-img">
            </div>
            <h1>{{post.header}}</h1>

            {% for i in count %}
                {%if mini_text[i]%}
                    <p style="white-space: pre-wrap">{{mini_text[i]}}</p>
                {%if i <= count_for_image %}
                <ul class="image-conf">
                    <li><input name="image{{i}}" type="file"></li>
                    <li><input name="note{{i}}" type="text" placeholder="Введите описание фото" size="50" class="image-description-editor"></li>
                </ul>
                {%endif%}
                {%endif%}
            {%endfor%}
            <div class="post-tags">
                <ul>
                    {%for tag in tags %}
                        <li>{{tag}}</li>
                    {%endfor%}
                </ul>
            </div>
            <div class="post-creator">
                <h4>Автор статьи</h4>
                <ul style="margin: 0;">
                    <li><input name="name" type="text" value="{{name}}" class="input-name" style="margin-left: -40px;"></li>
                </ul>
            </div>
            <div>
                <li>Временной промежуток<input type="date" value="1799-01-01" name="left-date" min="1779-01-01" max="{{current_date}}"><input type="date" value="{{current_date}}" name="right-date" min="1779-01-01" max="{{current_date}}"></li>
            </div>
            <button name="submit" type="submit" id="submit-post">Создать</button>
        </div>
    </form>
    </body>
</main>

{% endblock content %}