<head>
    <link rel="stylesheet" href="../static/main.css">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
</head>

{% extends 'base.html' %}

{% block content %}
{% if current_user.is_authenticated and current_user.role == 'poster' %}

<main>
    <h1 style="text-align: center;">Редактирование статьи</h1>
    <body>
    <form method="post" enctype="multipart/form-data" class="post-creation-wrapper">
    {%if tags %}
            <div class="filter">
                <ul>
                    {%for tag in tags %}
                        <li style="display: block;"><input type="checkbox" name="{{tag.nametag}}">{{tag.nametag}}</li>
                    {%endfor%}
                </ul>
            </div>
    {%endif%}

        <div class="tutorial">
          <a>Введите "$" чтоб вставить картинку в текст;</a>
          <a>Введите "%" чтоб вставить видео в текст.</a>
        </div>
        <div class="createpost">
              <ul>
                <li><input name="header" type="text" placeholder="Введите Заголовок" size="50" value="{{ post.header }}">
                <li><label style="font-size: 16px;">Выберете отображаемое на странице изображение для статьи:&nbsp&nbsp&nbsp</label><input name="main-image" type="file"></li>
                <!--
                <li><label style="font-size: 16px;">Загрузите архив расширения .zip или .rar с дополниельными материалами (при необходимости):&nbsp&nbsp&nbsp</label><input name="post-archive" type="file"></li>
                -->
                <li>
                    <div class="editor-container">
                        <div id="editor"></div>
                        <textarea id="text" name="text" style="display: none;">{{ post.text }}</textarea>
                    </div>
                </li>
                <li>
                    <button name="submit" type="submit">Далее</button></li>
                </li>
              </ul>
        </div>
    </form>
    </body>
</main>

<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
{% else %}
    <meta http-equiv="refresh" content="0;URL=/" />
{% endif %}
{% endblock content %}
