<!DOCTYPE html>
<head>
    <!--<link rel="stylesheet" href="../static/main.css">-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
     <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <style>
        #map{
            position: fixed;
            height: 65%;
            width: 60%;
            left: 35%;
            top: 18%;
            margin: 30px;
        }
        button[name="submit-question"]{
            position: fixed;
            right:5%;
            bottom: 5%;
        }
    </style>
</head>

{% extends 'base.html' %}

{% block content %}

<main>
    <body>
        <div id="map"></div>

        <div class="createpost">
        <form method="post" enctype="multipart/form-data">
            <div class="answer-wrapper">
                {% for i in length %}
                <h3>{{questions[i]}}</h3>
                <li style="list-style: none;">
                    <input class="answer-input" name="answer{{i}}" type="text" value="{{this_user_answers[i]}}" placeholder="Ответ" size="35">
                    {% if i in right_questions%}
                    <label class="answer-checkbox">✔️</label>
                    {%else%}
                    <label class="answer-checkbox">❌</label>
                    {%endif%}
                </li>
                {% endfor %}
                <button name="submit-question" type="submit">Проверить ответы</button></li>
            </div>
        </form>
        </div>

        <script>
            var map = L.map('map').setView([55.763904410941514, 37.662084744656916], 19);
            L.tileLayer('https://api.maptiler.com/maps/outdoor-v2/256/{z}/{x}/{y}.png?key=AFCeTF9aUfdqHYYC77tz', {
                maxZoom: 19,
                attribution: 'https://api.maptiler.com/maps/outdoor-v2/256/{z}/{x}/{y}.png?key=AFCeTF9aUfdqHYYC77tz',
                dragging: false
            }).addTo(map);

        </script>
    </body>
</main>

{% endblock content %}