<head>
  <link rel="stylesheet" href="../static/main.css">  
</head>

<style>
  a[href="/registration"]{
    position: absolute;
    top: 65%;
    margin-top: 2%;
    font-size: 18px;
  }
</style>

{% extends 'base.html' %}

{% block content %}

<!--
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
{% with messages = get_flashed_messages(True) %}
  {% if messages %}
    {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
    {% endfor %}
  {% endif %}
{% endwith %}
-->
<main>
  <body>
    <div class="loginpage">
      <form method="post">
        <h2>Войти</h2>
        <input name="login" type="text" placeholder="Введите логин" size="50">
        <input name="password" type="password" placeholder="Введите пароль" size="50">
        <button name="submit" type="submit">Войти</button>
      </form>
      <a href="/registration" name="register-self" type="submit" style="margin-bottom: 0;">Зарегистрироваться</a>
    </div>
  </body>
</main>
{% endblock %}
