
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
          {% with messages = get_flashed_messages(True) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
<div>
    <h1>Login page</h1>
    <form method="post">
        <input name="login" type="text" value="Введите логин">
        <input name="password" type="text" value="Введите пароль">
        <input name="submit" type="submit" value="Войти">
    </form>
</div>