<head>
  <link rel="stylesheet" href="../static/main.css">  
</head>

{% extends 'base.html' %}

{% block content %}

<!--
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
{% with messages = get_flashed_messages(True) %}
  {% if messages %}
    {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
    {% endfor %}
  {% endif %}
{% endwith %}
-->

<body>

  <div class="loginpage">
    <form method="post">
      <input name="login" type="text" placeholder="Введите логин" size="50">
      <input name="password" type="password" placeholder="Введите пароль" size="50">
      <!--
      <input name="submit" type="submit" value="Войти">
      -->
      <button name="submit" type="submit">Войти</button>
    </form>
  </div>
</body>
{% endblock %}
