<!DOCTYPE html>
<head>
    <!--<link rel="stylesheet" href="../static/main.css">-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />    
     <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <style>
        #map{
            position: absolute;
            height: 1000px;
            width: 1000px;
        }
    </style>
</head>

{% extends 'base.html' %}

{% block content %}

<main>
    <body>
        <form method="post" enctype="multipart/form-data">
            <div id="map"></div>
        </form>

        <script>
            var map = L.map('map').setView([55.763904410941514, 37.662084744656916], 19);
            L.tileLayer('https://api.maptiler.com/maps/outdoor-v2/256/{z}/{x}/{y}.png?key=AFCeTF9aUfdqHYYC77tz', {
                maxZoom: 19,
                attribution: 'https://api.maptiler.com/maps/outdoor-v2/256/{z}/{x}/{y}.png?key=AFCeTF9aUfdqHYYC77tz',
                dragging: false
            }).addTo(map);

        </script>
    </body>
</main>

{% endblock content %}