<head>
    <link rel="stylesheet" href="../static/main.css">
</head>

{% extends "base.html" %}

{% block content %}
<main>
    <body>
        <div>
            <img src="/{{post.main_image}}">
            <h1>{{post.header}}</h1>
            {% for i in count %}
            {%if mini_text[i]%}
            <h1>{{mini_text[i]}}</h1>
            {%endif%}
            {%if images[i]%}
            <img src="/{{images[i]}}">
            {%endif%}
            {%if notes[i]%}
            <h5>{{notes[i]}}</h5>
            {%endif%}
            {%endfor%}
        </div>
    </body>
</main>

{% endblock content %}