<head>
    <link rel="stylesheet" href="../static/main.css">
</head>

{% extends "base.html" %}

{% block content %}
<main>
    <body>
        <div>
            <img src="/{{post.main_image}}">
            <h1>{{post.header}}</h1>
            <ul style="list-style: none;">
                <li><a href="/editpost/{{post.address}}"><button>Редактировать пост</button></a></li>
                <li><a href="/deletepost/{{post.address}}"><button>Удалить пост</button></a></li>
            </ul>
            {% for i in count %}
                {%if mini_text[i]%}
                    <p style="white-space: pre-wrap">{{mini_text[i]}}</p>
                {%endif%}
                {%if images[i]%}
                    <img src="/{{images[i]}}">
                {%endif%}
                {%if notes[i]%}
                    <h5>{{notes[i]}}</h5>
                {%endif%}
            {%endfor%}
        </div>
    </body>
</main>

{% endblock content %}