<head>
    <link rel="stylesheet" href="../static/main.css">
</head>

{% extends 'base.html' %}



{% block content %}
{% if current_user.is_authenticated and current_user.role == 'admin' %}

<main>
    <body>
        <div class="createpost">
            <form method="post" enctype="multipart/form-data" class="post-creation-wrapper">
              <ul>
                <li><input name="login" type="text" placeholder="Введите логин" size="50"></li>
                <button name="submit" type="submit">Создать</button></li>
              </ul>
            </form>
        </div>
    </body>
</main>
{% else %}
    <meta http-equiv="refresh" content="0;URL=/" />
{% endif %}
{% endblock content %}