<head>
    <link rel="stylesheet" href="../static/main.css">
</head>
<style>
    input, button{
        width: 100%;
    }
</style>
{% extends 'base.html' %}



{% block content %}

<main>
    <h1 style="text-align: center;">Регистрация</h1>
    <body>
        <div class="createpost">
            <form method="post" enctype="multipart/form-data" class="post-creation-wrapper">
              <ul>
                <li><input name="login" type="text" placeholder="Введите почту" size="50"
                    style="padding: 8px; background-color: white; border-radius: 20px;
                    border: #000072 2px solid; font-size: 16;"></li>
                <li><input name="surname" type="text" placeholder="Введите фамилию" size="50"
                    style="padding: 8px; background-color: white; border-radius: 20px;
                    border: #000072 2px solid; font-size: 16;"></li>
                <li><input name="name" type="text" placeholder="Введите имя" size="50"
                    style="padding: 8px; background-color: white; border-radius: 20px;
                    border: #000072 2px solid; font-size: 16;"></li>
                <li><input name="thirdname" type="text" placeholder="Введите отчество" size="50"
                    style="padding: 8px; background-color: white; border-radius: 20px;
                    border: #000072 2px solid; font-size: 16;"></li>
                <li><input name="password1" type="password" placeholder="Введите пароль"
                    style="padding: 8px; background-color: white; border-radius: 20px;
                    border: #000072 2px solid; font-size: 16;"></li>
                <li><input name="password2" type="password" placeholder="Повторите пароль"
                    style="padding: 8px; background-color: white; border-radius: 20px;
                    border: #000072 2px solid; font-size: 16;"></li>

                <button name="submit" type="submit" style="margin-top: 20px;
                border: #000072 2px solid;">Зарегистрироваться</button></li>
              </ul>
            </form>
        </div>
    </body>
</main>
{% endblock content %}