<head>
    <link rel="stylesheet" href="../static/main.css">
</head>

{% extends 'base.html' %}



{% block content %}
{% if current_user.is_authenticated and current_user.role == 'admin' %}

<main>
    <h1>Регистрация пользователей</h1>
    <body>
        <div class="createpost">
            <form method="post" enctype="multipart/form-data" class="post-creation-wrapper">
              <ul>
                <li><input name="login" type="text" placeholder="Введите логин" size="50"
                    style="padding: 8px; background-color: white; border-radius: 20px;
                    border: #000072 2px solid; font-size: 16;"></li>
                <button name="submit" type="submit" style="margin-top: 20px;
                border: #000072 2px solid;">Создать</button></li>
              </ul>
            </form>
        </div>
    </body>
</main>
{% else %}
    <meta http-equiv="refresh" content="0;URL=/" />
{% endif %}
{% endblock content %}