<head>
    <link rel="stylesheet" href="../static/main.css">
</head>

{% extends "base.html" %}

{% block content %}
<main>
    <body>
    <form method="post" enctype="multipart/form-data">

        <div class="timeline_wrapper">
            <nav>
                <a href="/timeline/1700"><button name="edit-post-button">1700</button></a>
                <a href="/timeline/1800"><button name="edit-post-button">1800</button></a>
                <a href="/timeline/1900"><button name="edit-post-button">1900</button></a>
                <a href="/timeline/2000"><button name="edit-post-button">2000</button></a>
            </nav>
        </div>

        <div class="post-container">
            {% for k, v in sorted_lines.items() %}
                <div class="year">
                    <h1>{{k}}</h1>
                </div>
                {% for post in v %}
                    {% if post.visible == 'yes' %}
                        <a href="/post/{{post.address}}">
                            <div class="post">
                                <div class="gradient"></div>
                                <p>{{post.header}}</p>
                                <img src="/{{post.main_image}}" class="post-prev">
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </form>
    </body>
</main>
{% endblock content %}
