<head>
    <link rel="stylesheet" href="../static/main.css">
</head>

{% extends "base.html" %}

{% block content %}
<main>
    <body>
    <form method="post" enctype="multipart/form-data">
        
        <div class="timeline_wrapper">
            <nav>
                <button>1700</button>
                <button>1800</button>
                <button>1900</button>
                <button>2000</button>
            </nav>
        </div>
        
        <div class="post-container">
            <div class="year">
                <h2>1850</h2>
            </div>
            {% for post in posts %}
            {% if post.visible == 'yes' %}
            
            <a href="/post/{{post.address}}">
                <div class="post">
                    <div class="gradient"></div>
                    <p>{{post.header}}</p>
                    <img src="{{post.main_image}}" class="post-prev">
                </div>
            </a>
            {%endif%}
            {% endfor %}
        </div>
    </form>
    </body>
</main>
{% endblock content %}